<div class="container">

    <h2>Salvar Contato</h2>

    <form>

        <div class="form-roup">
            <label for="nome">Nome</label>
            <input type="text" class="form-control" placeholder="Insira o nome">
        </div>
        <div class="form-roup">
            <label for="email">E-mail</label>
            <input type="email" class="form-control" placeholder="Insira o Email">
        </div>
        <div class="form-roup">
            <label for="telefone">Telefone</label>
            <input type="text" class="form-control" placeholder="Insira o telefone">
        </div>
        <button type="submit" class="btn btn-success">Salvar</button>
        <a class="btn btn-secondary">Voltar</a>
    </form>
</div>
